@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  svg {
    width: 1em;
    height: 1em;
    aspect-ratio: 1/1;
  }
}

.react-flow__node {
  @apply !transition-all !ease-out !duration-300;
}

